.header1{
  background-color: black;

  color: aliceblue;
width: 80%;
float: right;
}

.import ,.export{
float: right;
margin: 10px;
}

.aside{
align-items: center;

}

.section{
 float: right; 
}

.left  {
  width: '250px';
  height: '150px';
  border: '1px solid #DCDCDC';
  float: 'left';
}
right  {
  width: '250px';
  height: '150px';
  border: '1px solid #DCDCDC';
  float: 'left';
  margin-left: '40px';
}
droppable {
  margin: '0 auto';
  width: '50%';
  margin-top: '80px';
}
para{
  margin-right: '11px';
  border: '1px solid #DCDCDC';
  padding: '12px 16px';
  border-radius: '50%';
  width: '15px';
  float : 'left';
}


.card {
  align-items: center;
  justify-content: center;
  font-size: 14px;
  font-family: "Arial", sans-serif;
  font-weight: 50;
  width: 100px;
  height: 50px;
  background: cyan;
  margin: 60px;
}

.h{
font-weight: bolder;
}

.file{
height: 100%;
}

.upload{
  float: right;
  margin: 20px;
}
.download{
  float: right;
  margin: 20px;

}


.h3{
  margin: 10px 0 10px 0;
  text-align: center;
}
.upload2{
  padding: 10px;
  align-items: center;

}

.row1{
  background-color: black;
}

.col1{
  background-color: rgb(218, 226, 226);
}

.row2{
  background-color: blueviolet;
}

#tagList ul {
  margin: 0;
  padding: 0px;
  list-style: none;
  align-items: center;

}

#tagList ul li {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  display: block;
  border: 1px solid black;
  margin: 60px;
  background-color: white;
}



.jstree-default{
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.jstree-anchor{
  padding: 10px;
  display: block;
  margin: 10px;
  border: 1px solid black;


}
.jstree-icon .jstree-er{
  background-color: coral;
}

